 // Assigns
 // Margin left and right at 10px to body tags
 // Margin left and right at 15px to div tags

 @mixin margin-lr-10px {
     margin-left: 10px;
     margin-right: 10px;
 }

 @mixin margin-lr-15px {
     margin-left: 15px;
     margin-right: 15px;
 }

 body {
     @include margin-lr-10px;
 }

 div {
     @include margin-lr-15px;
 }